@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    text-align: center;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            display: inline-block;
            padding: 0 5px;
            &:first-child {
                padding-left: 0px;
            }
            &-link {
                font-size: $typographic-base-font-size;
                color: $typographic-base-font-color;
                font-weight: 400;
                border: 0;
                &:hover,
                &:focus {
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
                &--active {
                    color: $color-base;
                    border-bottom: 1px solid $color-base;
                }
            }
        }
    }
}

@include breakpoint-sm {
    .menu {
        @include margin-bottom(1);
        text-align: inherit;
        &__list {
            &-item {
                display: list-item;
                padding: 0;
                margin: 10px 0;
            }
        }
    }
}